# macOS
.DS_Store

# Node modules
node_modules

# Minified JS
built

# Logs
*.log

# htaccess
.htaccess

# Config file
wp-config.php

# Sqlite dropin & database folder.
/wp-content/db.php
/wp-content/database/

# Uploads
/wp-content/uploads/

# My plugins
/wp-content/plugins/

# Languages
/wp-content/languages
