# macOS
.DS_Store

# Node modules
node_modules

# Minified JS
built

# Logs
*.log

# htaccess
.htaccess

# Config file
wp-config.php

# Uploads
/wp-content/uploads/

# My plugins
/wp-content/plugins/

# My theme
/wp-content/themes/ensemble

# Languages
/wp-content/languages

# Default themes
/wp-content/themes/twentyeleven
/wp-content/themes/twentyfifteen
/wp-content/themes/twentyfourteen
/wp-content/themes/twentynineteen
/wp-content/themes/twentyseventeen
/wp-content/themes/twentysixteen
/wp-content/themes/twentyten
/wp-content/themes/twentythirteen
/wp-content/themes/twentytwelve
/wp-content/themes/twentytwenty
/wp-content/themes/twentytwentyfive
/wp-content/themes/twentytwentyone
/wp-content/themes/twentytwentythree
/wp-content/themes/twentytwentytwo
