/tools export-ignore
/wp-admin/css/colors/retraceur/*.js export-ignore
/wp-admin/css/*.js export-ignore
/wp-includes/css/dist/*.js export-ignore
/wp-admin/js/webpack.config.js export-ignore
/wp-includes/js/dist/webpack.config.js export-ignore
/wp-includes/css/*.js export-ignore
/wp-content/languages export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.github
/CHANGELOG.md export-ignore
/CODE_OF_CONDUCT.md export-ignore
/composer.json export-ignore
/composer.lock export-ignore
/CONTRIBUTING.md export-ignore
/package-lock.json export-ignore
/package.json export-ignore
/PULL_REQUEST_TEMPLATE.md export-ignore
