.blocks-shortcode__textarea {
  box-sizing: border-box;
  max-height: 250px;
  resize: none;
  font-family: Menlo, Consolas, monaco, monospace !important;
  color: #1e1e1e !important;
  background: #fff !important;
  padding: 12px !important;
  border: 1px solid #1e1e1e !important;
  box-shadow: none !important;
  border-radius: 2px !important;
  font-size: 16px !important;
}
@media (min-width: 600px) {
  .blocks-shortcode__textarea {
    font-size: 13px !important;
  }
}
.blocks-shortcode__textarea:focus {
  border-color: var(--wp-admin-theme-color) !important;
  box-shadow: 0 0 0 1px var(--wp-admin-theme-color) !important;
  outline: 2px solid transparent !important;
}
