$highlight-color: #2243b6;

@use "../_admin.scss" with (
	$scheme-name: "retraceur",
	$base-color: #1e1e1e,
	$icon-color: #f3f1f1,
	$link: #2243b6,
	$highlight-color: $highlight-color,
	$notification-color: $highlight-color,

	$menu-submenu-text: #e2ecf1,
	$menu-submenu-focus-text: #4563c9,
	$menu-submenu-background: #4796b3,

	$dashboard-icon-background: $highlight-color,
	$custom-welcome-panel: "false"
);
