<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:query -->
	<div class="wp-block-query">
		<!-- wp:spacer {"height":"20px"} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"tagName":"section","className":"archive-header alignfull","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|30"},"margin":{"bottom":"var:preset|spacing|60"}}},"layout":{"inherit":true}} -->
		<section class="wp-block-group archive-header alignfull" style="margin-bottom:var(--wp--preset--spacing--60);padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--30);">
			<!-- wp:group {"tagName":"div","layout":{"inherit":true}} -->
			<div class="wp-block-group">
			<!-- wp:query-title {"type":"archive","level":2} /-->
			<!-- wp:term-description /-->
			</div>
			<!-- /wp:group -->
		</section>
		<!-- /wp:group -->

		<!-- wp:query-no-results -->
		<!-- wp:pattern {"slug":"point/posts-no-results"} /-->
		<!-- /wp:query-no-results -->

		<!-- wp:post-template -->
			<!-- wp:group {"tagName":"section","className":"entry-header","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"inherit":true,"type":"constrained"}} -->
			<section class="wp-block-group entry-header">
				<!-- wp:post-title {"isLink":true,"level":2} /-->
				<!-- wp:pattern {"slug":"point/entry-header"} /-->
				<!-- wp:post-featured-image {"isLink":true} /-->
			</section>
			<!-- /wp:group -->
			<!-- wp:group {"tagName":"section","className":"entry-excerpt","layout":{"inherit":true}} -->
			<section class="wp-block-group entry-excerpt">
				<!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} /-->
			</section>
			<!-- /wp:group -->
			<!-- wp:group {"tagName":"section","className":"entry-footer","layout":{"inherit":true}} -->
			<section class="wp-block-group entry-footer">
				<!-- wp:pattern {"slug":"point/entry-footer"} /-->
			</section>
			<!-- /wp:group -->
			<!-- wp:spacer {"height":"20px"} -->
			<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
		<!-- /wp:post-template -->

		<!-- wp:spacer {"height":"20px"} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->

		<!-- wp:spacer {"height":"20px"} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
