<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"inherit":true}} -->
<main class="wp-block-group">
	<!-- wp:query -->
	<div class="wp-block-query">
		<!-- wp:spacer {"height":"20px"} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:group {"tagName":"section","className":"home-header alignfull","style":{"spacing":{"padding":{"top":"var:preset|spacing|20","bottom":"var:preset|spacing|30"},"margin":{"bottom":"var:preset|spacing|60"}}},"layout":{"inherit":true}} -->
		<section class="wp-block-group home-header alignfull" style="margin-bottom:var(--wp--preset--spacing--60);padding-top:var(--wp--preset--spacing--20);padding-bottom:var(--wp--preset--spacing--30);">
			<!-- wp:pattern {"slug":"point/home-header"} /-->
		</section>
		<!-- /wp:group -->

		<!-- wp:query-no-results -->
		<!-- wp:pattern {"slug":"point/posts-no-results"} /-->
		<!-- /wp:query-no-results -->

		<!-- wp:post-template -->
			<!-- wp:group {"tagName":"section","className":"entry-header","style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"inherit":true,"type":"constrained"}} -->
			<section class="wp-block-group entry-header">
				<!-- wp:post-format-part {"include":"standard"} -->
					<!-- wp:post-title {"isLink":true,"level":2} /-->
					<!-- wp:pattern {"slug":"point/entry-header"} /-->
					<!-- wp:post-featured-image {"isLink":true} /-->
				<!-- /wp:post-format-part -->
				<!-- wp:post-format-part {"exclude":"standard,image,status"} -->
					<!-- wp:post-format-name {"isLink":true,"level":2} /-->
					<!-- wp:pattern {"slug":"point/entry-header-post-format"} /-->
				<!-- /wp:post-format-part -->
				<!-- wp:post-format-part {"include":"status"} -->
					<!-- wp:pattern {"slug":"point/entry-header-archive-post-format-status"} /-->
				<!-- /wp:post-format-part -->
			</section>
			<!-- /wp:group -->
			<!-- wp:group {"tagName":"section","className":"entry-excerpt","layout":{"inherit":true}} -->
			<section class="wp-block-group entry-excerpt">
				<!-- wp:post-format-part {"include":"standard,image,quote","exclude":"status"} -->
					<!-- wp:post-content {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}}} /-->
				<!-- /wp:post-format-part -->
				<!-- wp:post-format-part {"include":"status"} -->
					<!-- wp:group {"className":"post-format-status","layout":{"inherit":true,"type":"constrained"}} -->
					<div class="wp-block-group post-format-status">
						<!-- wp:group {"layout":{"type":"constrained","justifyContent":"left"}} -->
						<div class="wp-block-group">
							<!-- wp:post-format-name {"isLink":false,"level":2,"className":"post-format-status"} /-->
						</div>
						<!-- /wp:group -->
						<!-- wp:post-content {"layout":{"inherit":true},"className":"post-format-status"} /-->
					</div>
					<!-- /wp:group -->
				<!-- /wp:post-format-part -->
			</section>
			<!-- /wp:group -->
			<!-- wp:post-format-part {"include":"standard,image"} -->
				<!-- wp:group {"tagName":"section","className":"entry-footer","layout":{"inherit":true}} -->
				<section class="wp-block-group entry-footer">
					<!-- wp:post-format-part {"include":"standard"} -->
						<!-- wp:pattern {"slug":"point/entry-footer"} /-->
					<!-- /wp:post-format-part -->
					<!-- wp:post-format-part {"include":"image"} -->
						<!-- wp:pattern {"slug":"point/entry-footer-archive-post-format-image"} /-->
					<!-- /wp:post-format-part -->
				</section>
				<!-- /wp:group -->
			<!-- /wp:post-format-part -->
			<!-- wp:spacer {"height":"20px"} -->
			<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
		<!-- /wp:post-template -->

		<!-- wp:spacer {"height":"20px"} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->

		<!-- wp:query-pagination {"paginationArrow":"arrow","layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->

		<!-- wp:spacer {"height":"20px"} -->
		<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
		<!-- /wp:spacer -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->
